div#detalhe_produto {
    width:800px;
    margin:80px auto;
}

div#detalhe_produto ul {
    margin:0;padding:0;   
}

div#detalhe_produto li {
    list-style-type: none;
    font-family: sans-serif;
    font-size: 13px;
    padding:5px;
}   

div#detalhe_produto li.imagem {
    float:left;
    border:1px solid #ddd;
    width:225px;height:225px;
    margin-right: 10px;
}

div#detalhe_produto h2 {
    margin:0;   
}